body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding-top: 45px;
}

section {
	padding: 50px 0;
}

/*Navigation */

nav {
	background: #02908B;
	position: fixed;
	left: 0;
	right: 0;
	height: 70px;
	top: 0;
}

nav > a {
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 800;
	position: absolute;
	left: 30px;
	top: 15px;
}

nav span {
	color: #CFC91D; /*change the color of span*/
}

nav ul {
	position: absolute;
	right: 25px;
	top: 5px;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
}

nav li > a {
	text-decoration: none;
	color: #FFFFFF;
}

nav li > a:hover, nav li > a:focus {
	color: #CFC91D;  /*change color of texts when hovered and focused*/ 
}

/*header*/

header {
	background-attachment: fixed;
	background-image: url(../images/top.jpg);
	background-repeat: no-repeat;  	
	background-size: 100% 100%;
	background-position: 100% 50%;
	height: 500px;
	padding-top: 100px;
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 36px;

}

header h2 {
	margin: 0;
	font-size: 72px;
	letter-spacing: 18px;
}

header p {
	margin: 0;
}

header img {
	padding-top: 50px;
	padding-left: 100px;
}

header a {
	background-color: #CDC71D;
	font-size: 15px;
	padding: 10px 35px;
	color: #0B1016;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	right: 135px;
	top: 70px;
	transition: all 0.3s ease-in-out;
}

header a:hover, a:focus {
	background-color: #fff; 
	color: #0B1016;
	cursor: pointer;
}

/*About Me*/

#intro {
	text-align: center;
	color: #7E8287;
	height: 525px;
}

#intro h1, #services h1, #contact h1 {
	font-size: 45px;
	margin: 0;
	color: #02908B;  /*change color and font size of all titles*/
}

#intro img {
	margin: 15px 0;
}

#intro p {
	line-height: 300%;
	width: 70%;
	margin: 0 auto;
}

#intro span {
	font-size: 25px;
	font-weight: bold;
}

.boxes { 
	width: 80%;
	margin: 0 auto; /*change the width of the whole box section*/
}

.box {
   	border-right: 1px solid black;
	float: left;
    margin: 3% 0;
    padding: 0 4%;
    width: 16%;
}

.boxes div:last-child {
	border: none;  /*remove the right border for the last box*/
}

.box i {
	color: #02908B;
	font-size: 30px; /*Change the size and color of the icons*/

}

.box h2 {
	font-size: 20px;
}

#intro .boxes p {

	font-size: 11px;
	font-weight: bold;
	line-height: 120%;
}

#services {
	background-image: url(../images/service.png);
	background-size: cover;
	padding-left: 10%;
}

#services img {
	padding: 20px 0;
}

#services p, .servicelist {
	color: #7E8287; /*change the text color to grey */
}

#services p {
	line-height: 250%;

}
